// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input[type=submit] {
    padding:5px 15px;
    background:#87CEFA;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.container{
  text-align: center
}

input[type=submit]:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
